<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @campaign.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @campaign.instructions %>
</p>

<p>
  <strong>Survey question one:</strong>
  <%= @campaign.survey_question_one %>
</p>

<p>
  <strong>Survey question two:</strong>
  <%= @campaign.survey_question_two %>
</p>

<p>
  <strong>Survey question three:</strong>
  <%= @campaign.survey_question_three %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
