
<div class="row display">
	<ul class="breadcrumbs">
		<% if @campaign || session[:campaign_id] -%>
			<% if !@campaign -%>
				<% @campaign = Campaign.find(session[:campaign_id]) -%>
			<% end -%>
		  	<li class="breadcrumb">
		  		<%= link_to 'Discussion', campaign_path(@campaign) %>
		  	</li>
	  	<% end -%>

	  	<% if current_user %>
  			<li class="breadcrumb">
  				<%= link_to session[:name], users_show_path %>
	  		</li>
		  	<li class="breadcrumb"><%= link_to 'Logout', logout_path %>
	  	<% else %>
	  		<li class="breadcrumb"><%= link_to 'Login with Twitter', '/auth/twitter' %></li>
  		<% end %>
	
  		<% if admin? %>
  			<li class="breadcrumb"><%= link_to 'Admin Controls', admins_path %></li>
			<li class="breadcrumb"><%= link_to 'Campaign Config', campaigns_path %></li>
  		<% end %>
	</ul>
</div>
