
 <div class="row display">
  <ul class="breadcrumbs">
	  	<li class="breadcrumb"><a href="#">Home</a></li> 
	  	<li class="breadcrumb unavailable"><a href="#">Help</a></li>
	  	<li class="breadcrumb">
	  		<%= link_to 'Discussion', '/posts/' %>
	  	</li>
	  	
	  	<% if current_user %>
  			<li class="breadcrumb">
  				<%= link_to session[:name], users_show_path %>
	  		</li>
	  	<li class="breadcrumb"><%= link_to 'Logout', logout_path %>
	  	<% else %>
	  		<li class="breadcrumb"><%= link_to 'Login with Twitter', '/auth/twitter' %></li>
  		<% end %>
  		<% if admin? %>
  			<li class="breadcrumb"><%= link_to 'Admin Controls', admins_path %></li>
  		<% end %>
	  	<!--<li class="breadcrumb current"><a href="#">Cloning</a></li>-->
	  	</ul>
</div>
